<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="HJSIIEntities" connectionString="metadata=res://*/HJS.csdl|res://*/HJS.ssdl|res://*/HJS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=YYZZ;persist security info=True;user id=sa;password=123123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="YZEntities" connectionString="metadata=res://*/YZ.Biz.YZModel.csdl|res://*/YZ.Biz.YZModel.ssdl|res://*/YZ.Biz.YZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=YYZZ;persist security info=True;user id=sa;password=yy123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="YYZZEntities" connectionString="metadata=res://*/YZModel.csdl|res://*/YZModel.ssdl|res://*/YZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=YYZZ;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="YYZZEntities" connectionString="metadata=res://*/YZModel.csdl|res://*/YZModel.ssdl|res://*/YZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC\SQLEXPRESS;initial catalog=YYZZ;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="YYZZEntities" connectionString="metadata=res://*/YZModel.csdl|res://*/YZModel.ssdl|res://*/YZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC;initial catalog=YYZZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="YYZZEntities" connectionString="metadata=res://*/YZModel.csdl|res://*/YZModel.ssdl|res://*/YZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I25MQM9;initial catalog=YYZZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 
  <appSettings> 
    <add key="Encoding" value="UTF-8"/>
    <add key="ToHtmlErrLogPath" value="AspxToHtml_log.txt"/>
    <add key="HtmlFilePath" value="/news/"/>
    <add key="TemplateFilePath" value="TemplateHtml.html"/>
    <!--评论初始审核状态-->
    <add key="CommentDefaultState" value="1"/>
    <!--评论一次加载数量-->
    <add key ="CommentDefaultCount" value="0"/>
    <!--回复评论加载数量-->
    <add key="ReplyCommentCount" value="5"/>
  </appSettings>
  
  <system.web>

    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="28800" />
    </authentication>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <!--页面添加命名空间-->
    <pages>
      <namespaces>
        <add namespace="System.Linq"/>
      </namespaces>
    </pages>

    <!--默认错误页设置,mode:具有On,Off,RemoteOnly 3种状态。On表示始终显示自定义的信息; Off表示始终显示详细的asp.net错误信息; RemoteOnly表示只对不在本地Web服务器上运行的用户显示自定义信息.defaultRedirect:用于出现错误时重定向的URL地址-->
    <customErrors defaultRedirect="Err.html" mode="RemoteOnly">
      <!--特殊代码编号的错误从定向文件-->
      <error statusCode="403" redirect="error/NoAccess.html"/>
      <error statusCode="404" redirect="FileNotFound.html"/>
    </customErrors>

    <!--站点全球化设置,requestEncoding: 它用来检查每一个发来请求的编码.responseEncoding: 用于检查发回的响应内容编码.fileEncoding:用于检查aspx,asax等文件解析的默认编码,默认的编码是utf-8-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />

  </system.web>

  <system.net>
    <!--配置SMTP电子邮件设置-->
    <!--<mailSettings>
      <smtp from="xx">
        <network host=""  userName="" password=""/>
      </smtp>
    </mailSettings>
  
    -->
    <!--禁用所有缓存-->
    <!--

   <requestCaching disableAllCaching="true"></requestCaching>

   -->
    <!--指定代理地址，并对本地访问和 contoso.com 跳过代理。-->
    <!--

   <defaultProxy>

     <proxy usesystemdefault="True" proxyaddress="http://192.168.1.10:3128" bypassonlocal="True"/>

     <bypasslist>
       <add address="[a-z]+" .contoso ".com" />
     </bypasslist>
   </defaultProxy>-->
  </system.net>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--调整最大并发量-->
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <defaultDocument>
      <files>
        <!--<clear/>-->
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--URL重定向-->
  <!--<rewriter>

    <rewrite url="~/user/u(.+).aspx" to="~/user/index.aspx?r=$1" />
    <rewrite url="~/ask/q(.+).aspx" to="~/home/ask/content.aspx?id=$1" />
    <rewrite url="~/blog/b(.+).aspx" to="~/home/blog/article.aspx?r=$1" />
    <rewrite url="~/news/n(.+).aspx" to="~/home/news/content.aspx?nid=$1" />
    <rewrite url="~/default.aspx" to="~/home/ram/net.aspx" />

 </rewriter>-->
</configuration>